{
  "name": "KJC Remake",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "styles",
      "scss",
      "js/plugins",
      "css",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "js/main.js",
      "imports": [
        "js/vendor/modernizr-2.8.3.min.js",
        "js/plugins/plugin1.js",
        "js/plugins/plugin2.js"
      ]
    },
    {
      "path": "scss/styles.scss",
      "imports": [
        "scss/vendor/normalize.scss",
        "scss/vendor/main.scss",
        "scss/partials/_base.scss",
        "scss/modules/_all.scss",
        "scss/vendor/node_modules/animate.sass/scss/myAnimate.scss",
        "scss/partials/_variables.scss",
        "scss/partials/_mixins.scss",
        "scss/partials/_layout.scss",
        "scss/modules/_about.scss",
        "scss/modules/_header.scss",
        "scss/modules/_footer.scss",
        "scss/modules/_location.scss",
        "scss/modules/_services.scss",
        "scss/vendor/node_modules/animate.sass/scss/_core.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounce.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceInDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceInLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceInRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceInUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceOutDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceOutLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceOutRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/bounce/_bounceOutUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInDownBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInLeftBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInRightBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeInUpBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutDownBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutLeftBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutRightBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/fade/_fadeOutUpBig.scss",
        "scss/vendor/node_modules/animate.sass/scss/flip/_flip.scss",
        "scss/vendor/node_modules/animate.sass/scss/flip/_flipInX.scss",
        "scss/vendor/node_modules/animate.sass/scss/flip/_flipInY.scss",
        "scss/vendor/node_modules/animate.sass/scss/flip/_flipOutX.scss",
        "scss/vendor/node_modules/animate.sass/scss/flip/_flipOutY.scss",
        "scss/vendor/node_modules/animate.sass/scss/lightSpeed/_lightSpeedIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/lightSpeed/_lightSpeedOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/roll/_rollIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/roll/_rollOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateInDownLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateInDownRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateInUpLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateInUpRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateOutDownLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateOutDownRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateOutUpLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/rotate/_rotateOutUpRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideInDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideInLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideInRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideInUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideOutDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideOutLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideOutRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/slide/_slideOutUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomIn.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomInDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomInLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomInRIght.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomInUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomOut.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomOutDown.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomOutLeft.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomOutRight.scss",
        "scss/vendor/node_modules/animate.sass/scss/zoom/_zoomOutUp.scss",
        "scss/vendor/node_modules/animate.sass/scss/_flash.scss",
        "scss/vendor/node_modules/animate.sass/scss/_hinge.scss",
        "scss/vendor/node_modules/animate.sass/scss/_jello.scss",
        "scss/vendor/node_modules/animate.sass/scss/_pulse.scss",
        "scss/vendor/node_modules/animate.sass/scss/_rubberBand.scss",
        "scss/vendor/node_modules/animate.sass/scss/_shake.scss",
        "scss/vendor/node_modules/animate.sass/scss/_swing.scss",
        "scss/vendor/node_modules/animate.sass/scss/_tada.scss",
        "scss/vendor/node_modules/animate.sass/scss/_wobble.scss"
      ]
    },
    {
      "path": "scss/partials/_base.scss",
      "imports": [
        "scss/partials/_variables.scss",
        "scss/partials/_mixins.scss",
        "scss/modules/_all.scss"
      ]
    },
    {
      "path": "scss/vendor/fascss/solid.scss",
      "imports": [
        "scss/vendor/fascss/_variables.scss"
      ]
    },
    {
      "path": "scss/vendor/fascss/regular.scss",
      "imports": [
        "scss/vendor/fascss/_variables.scss"
      ]
    },
    {
      "path": "scss/vendor/fascss/v4-shims.scss",
      "imports": [
        "scss/vendor/fascss/_variables.scss",
        "scss/vendor/fascss/_shims.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css/\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}